@page "/"
@inject IPACollection IPACollection
@inject IHttpContextAccessor CurrentContext
@inject Arguments Arguments
@inject EphemeralECCCertificate EphemeralCertificate

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="google" content="notranslate">
    <title>ITMS Installer Server</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box
        }

        body {
            font-family: -apple-system, 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB',
                'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei,
                'WenQuanYi Zen Hei Sharp', sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #0c0c0c;
            background: #ededed;
            margin: 0;
            padding-top: 100px;
        }

        code {
            font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
            font-size: .8rem;
        }

        a {
            color: #007bff;
            text-decoration: none;
            border-bottom: 1px solid transparent;
        }

        a:hover {
            color: #3478c6;
            border-color: #3478c6;
        }

        main {
            margin: 0 auto;
            max-width: 800px;
        }

        main > h1 {
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 400;
        }

        @@media (prefers-color-scheme: dark) {
            body {
                color: #f0f0f0;
                background: #121212;
            }
        }

        @@media screen and (max-width: 820px) {
            body {
                padding: 1.2rem;
            }
        }

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        header > p {
            padding-right: 1rem;
        }

        header > aside {
            background: #fff;
            border-radius: .5rem;
            text-align: center;
        }

        header > aside > p {
            padding-top: 1.2rem;
            font-size: .8rem;
            color: #666;
        }

        @@media (prefers-color-scheme: dark) {
            header > aside {
                background: #353535;
            }

            header > aside > p {
                color: #c0c0c0;
            }

            header > aside > img {
                filter: invert(1);
            }
        }

        @@media screen and (max-width: 820px) {
            header {
                font-size: .8rem;
                flex-direction: column;
            }

            header > aside {
                margin-top: 1.8rem;
                width: 100%;
            }
        }

        article {
            margin-top: 50px;
            min-height: 60vh;
        }

        article > ul {
            list-style: none;
            padding: 0;
        }

        article > ul > li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            margin-bottom: 1rem;
            background: #fff;
            border-radius: .5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 110px;
        }

        article > ul > li > section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        article > ul > li > section > h2 {
            font-size: 1.2rem;
            margin-bottom: .5rem;
            font-weight: 400;
        }

        article > ul > li > section > h2 > span {
            font-size: .8em;
            color: #666;
            margin-left: .5rem;
        }

        article > ul > li > section > p {
            display: flex;
            font-size: 0.8rem;
            color: #666;
        }

        article > ul > li > section > p > span::after {
            margin-left: .5rem;
            margin-right: .5rem;
            content: '|';
        }

        article > ul > li > section > p > span:last-child::after {
            content: '';
            margin: 0;
        }

        article > ul > li > aside {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        article > ul > li > aside > a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            padding: .5rem 1rem;
            border-radius: .5rem;
            background: #007bff;
            color: #fff;
            font-size: 1rem;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            height: 35px;
            width: 5rem;
            transition: all .5s;
        }

        article > ul > li > aside > a:hover {
            color: #fff;
            background: #0056b3;
            transition: all .5s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        @@media (prefers-color-scheme: dark) {
            article > ul > li {
                background: #353535;
            }

            article > ul > li > section > h2 > span {
                color: #c0c0c0;
            }

            article > ul > li > section > p {
                color: #c0c0c0;
            }

            article > ul > li > aside > a:hover {
                color: #fff;
                background: #88c2ff;
                transition: all .5s;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
            }
        }

        @@media screen and (max-width: 820px) {
            article > ul > li {
                flex-direction: column;
                align-items: flex-start;
                height: auto;
            }

            article > ul > li > section {
                margin-bottom: 1rem;
            }

            article > ul > li > section > p {
                display: flex;
                flex-direction: column;
            }

            article > ul > li > section > p > span::after {
                content: '';
                margin: 0;
            }

            article > ul > li > section > h2 {
                font-size: 1rem;
            }

            article > ul > li > aside {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                gap: .5rem;
            }

            article > ul > li > aside > a {
                margin: 0;
                width: 100%;
            }
        }

        footer {
            margin-top: 100px;
            margin-bottom: 50px;
            font-size: 0.8rem;
        }
    </style>
</head>

<body>
    <main>
        <h1>ITMS Installer Server</h1>
        <header>
            <p>
                您可以使用 iOS 设备的扫描右侧二维码下载安装器。<br><br>
                此网页从 <code>@Arguments.IPADirectory</code> 读取您的 IPA 文件。如果您想更改这个目录，请传入 <code>-d</code> 参数。<br><br>
                扫描二维码后，浏览器会提示「此连接非私人连接」。请点击「显示详细信息」，然后点击「访问此网站」。<br>
                您也可以在该步骤中点击「查看该证书」，并确认该证书的指纹（位于「细节」——「指纹」——「SHA-1」）：<br>
                <code>@EphemeralCertificate.Certificate.Thumbprint</code><br><br>
                在下方的操作菜单中，点击「安装」按钮即可安装应用。点击「PLIST」按钮可以查看安装信息的元数据代码。<br><br>
                您可以在 <a href="https://github.com/baobao1270/itms-installer-server/issues">GitHub Issues</a> 中报告问题或提供反馈。
            </p>
            <aside>
                <p>扫描二维码打开此网页</p>
                <img src="/qrcode" alt="二维码" width="200px">
            </aside>
        </header>
        <article>
            <ul>
                @{
                    var ipas = IPACollection
                        .GetFiles()
                        .Select(x => x.ReadManifest())
                        .OrderBy(x => x.BundleId)
                        .ThenBy(x => x.File.FileName)
                        .ThenByDescending(x => x.BundleVersion)
                        .ToList();
                    var endpoint = new Endpoint(CurrentContext.HttpContext.Request.Host);
                }
                @foreach (var ipa in ipas)
                {
                    
                    <li>
                        <section>
                            <h2>@ipa.BundleName <span>(@ipa.File.BaseName)</span></h2>
                            <p>
                                <span>@ipa.BundleId</span>
                                <span>版本 @ipa.BundleVersion</span>
                                <span>@ipa.File.GetHumanReadableSize()</span>
                            </p>                        
                        </section>
                        <aside>
                            <a target="_blank" href="@endpoint.GetIPAInstallITMSAddress(ipa.File)">安装</a>
                            <a target="_blank" href="@endpoint.GetIPAManifestAddress(ipa.File)">PLIST</a>
                        </aside>
                    </li>
                }
            </ul>
        </article>
        <footer>
            &copy; 2024 由 <a href="https://github.com/baobao1270/itms-installer-server">ITMS Installer Server</a> 生成
        </footer>
    </main>
</body>
</html>
